# OpenAI API key (mandatory)
OPENAI_API_KEY=your-api-key


# Postgres database URL
DATABASE_URL=postgresql://postgres.[project-id]:[password]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres

# LangSmith tracing API Key (optional)
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=api-key
LANGSMITH_PROJECT=project-name